<START_CONFIG_FILE_BODY>

INPUT_GRAPH_FILEPATH = /home/aftab/workspace/graphs/arch_testing/arch_afterInline.txt
INPUT_GRAPH_TYPE = POINTSTO
INPUT_GRAPH_NUMBERING_STARTS_FROM = 0
PREPROCESSING_OPERATION = erule

***PARTGENERATION*** 

#used to calculate number of parts
HEAP_SIZE(GB) = 6
PART_SIZE_CONST = 0.15

***COMPUTATION***

# used to calculate the maximum part_size after new edges have been added to it
REPART_SIZE_CONST = 0.3  

RELOAD_PLAN = RELOAD_PLAN_2 
EDC_SIZE = 500
COMPUTATION_LOGIC = SMART_MERGE 
NUM_OF_THREADS = 8

<END_CONFIG_FILE_BODY>